@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="text-center" >
    <h1 class="display-1">Добро пожаловать в Библиотеку</h1>
    <div style="margin-top:130px;">
        <a style="margin-right:40px" href="/Book/AddBook" class="btn btn-primary btn-lg" role="button" data-toggle="button">Добавить книгу</a>
        <a style="margin-left:40px" href="/Book/BookShow" class="btn btn-primary btn-lg" role="button" data-toggle="button">Показать все книги</a>
    </div>
</div>
